@keyframes move {
    0% {
        d: path("M427.92,499.66s1.54-16,26.08-21.56,46.42-1.82,59.59,8.89,24.21,32.92,20.25,42.8-28.64,15.48-43.62,3.13-46.43-33.26-46.43-33.26Z");
    }
    33% {
        d: path("M437.92,499.66s1.54-16,26.08-21.56,46.42-1.82,59.59,8.89,24.21,32.92,20.25,42.8-28.64,15.48-43.62,3.13-46.43-33.26-46.43-33.26Z");        
    }
    66% {
        d: path("M417.92,499.66s1.54-16,26.08-21.56,46.42-1.82,59.59,8.89,24.21,32.92,20.25,42.8-28.64,15.48-43.62,3.13-46.43-33.26-46.43-33.26Z");
    }
    100% {
        d: path("M427.92,499.66s1.54-16,26.08-21.56,46.42-1.82,59.59,8.89,24.21,32.92,20.25,42.8-28.64,15.48-43.62,3.13-46.43-33.26-46.43-33.26Z");
    }
}

@keyframes strokemove {
    0% {
        d: path("M441,480s44.34-24.58,83.41,13.43");
    }
    33% {
        d: path("M451,480s44.34-24.58,83.41,13.43");
    }
    66% {
        d: path("M431,480s44.34-24.58,83.41,13.43");
    }
    100% {
        d: path("M441,480s44.34-24.58,83.41,13.43");
    }
}