:root {
  // Spacing
  --spacing-0: 0;
  --spacing-0-5: 0.125rem;
  --spacing-1: 0.25rem;
  --spacing-2: 0.5rem;
  --spacing-3: 0.75rem;
  --spacing-4: 1rem;
  --spacing-5: 1.25rem;
  --spacing-6: 1.5rem;
  --spacing-7: 1.75rem;
  --spacing-8: 2rem;
  --spacing-9: 2.25rem;
  --spacing-10: 2.5rem;
  --spacing-11: 2.75rem;
  --spacing-12: 3rem;
  --spacing-14: 3.5rem;
  --spacing-16: 4rem;
  --spacing-20: 5rem;
  --spacing-24: 6rem;
  --spacing-28: 7rem;
  --spacing-32: 8rem;
  --spacing-36: 9rem;
  --spacing-40: 10rem;
  --spacing-44: 11rem;
  --spacing-48: 12rem;
  --spacing-52: 13rem;
  --spacing-56: 14rem;
  --spacing-60: 15rem;
  --spacing-64: 16rem;
  --spacing-72: 18rem;
  --spacing-80: 20rem;
  --spacing-88: 22rem;
  --spacing-96: 24rem;

  // Font Sizes
  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
  --text-3xl: 1.875rem;
  --text-4xl: 2.25rem;
  --text-5xl: 3rem;
  --text-6xl: 3.75rem;
  --text-7xl: 4.5rem;
  --text-8xl: 6rem;

  // Font Weights
  --font-light: 300;
  --font-normal: 400;
  --font-bold: 700;

  // Grays
  --gray-900: hsl(250, 35%, 15%);
  --gray-800: hsl(250, 28%, 19%);
  --gray-700: hsl(250, 19%, 27%);
  --gray-600: hsl(250, 14%, 34%);
  --gray-500: hsl(250, 9%, 46%);
  --gray-400: hsl(250, 11%, 65%);
  --gray-300: hsl(250, 2%, 84%);
  --gray-200: hsl(250, 13%, 91%);
  --gray-100: hsl(250, 14%, 96%);
  --gray-000: hsl(245, 33%, 98%);

  // Tracking
  --tracking-tight: -0.025em;
  --tracking-tighter: -0.05em;

    // Extra Colors
    --powder-blue: #107190;
    --celadon-blue: #035274;
    --prussian-blue: #063156;
    --imperial-red: #E63834;
    --honeydew: #FCF9E7;

  --body-padding: var(--spacing-12);

  // Extra Colors
  --powder-blue: #a8dadc;
  --celadon-blue: #457b9d;
  --prussian-blue: #1d3557;
  --imperial-red: #e63946;
  --honeydew: #f1faee;

  @media screen and (max-width: 1104px) {
    --body-padding: var(--spacing-8);
  }

  @media screen and (max-width: 600px) {
    --body-padding: var(--spacing-4);
  }
}

body,
body[data-theme='light'] {
    --bg-color: hsl(51, 78%, 95%);
    --text-color: hsl(208, 87%, 18%);
    --text-color-rgb: 6, 49, 86;
    --text-color-secondary: hsl(198, 95%, 23%);
    --bean-bag: hsl(208, 87%, 18%);
    --blanket: hsl(1, 78%, 55%);
    --laptop: var(--celadon-blue);
}

body[data-theme='dark'] {
    --bg-color: hsl(208, 87%, 18%);
    --text-color: hsl(51, 78%, 95%);
    --text-color-rgb: 252, 249, 231;
    --text-color-secondary: hsl(195, 80%, 31%);
    --bean-bag: hsl(198, 95%, 23%);
    --blanket: hsl(1, 78%, 55%);
    --laptop: var(--honeydew);
}
